h1
{
	 @extend .center;
}

.center
{
    text-align: center;
}

.right
{
  text-align: right;
}

#Required by Angular bootstrap
.nav, .pagination, .carousel, .panel-title a
{
  cursor: pointer;
}

.roadBlockOk
{
	background-color: #27AE60;
}

.roadBlockKo
{
	background-color: #C0392B;
}

.roadBlockProgress
{
	background-color: #F39C12;
}

.countdown {
    float:right;
    font-size: 15px;
    font-weight: bold;
}

.countdownNumber {
    font-size: 25px;
}

.endDate {
    float:right;
    font-size: 15px;
    font-weight: bold;
}

.endDate .date {
    font-size: 25px;
}

h4 .label {
    font-size: 10px;
}