.countdown {
    float:right;
    font-size: 15px;
    font-weight: bold;
}

.countdownNumber {
    font-size: 25px;
}

.endDate {
    float:right;
    font-size: 15px;
    font-weight: bold;
}

.endDate .date {
    font-size: 25px;
}
